/* Home.css */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    max-width: 100vw;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  }
  
.about-left {
    flex: 1;
    text-align: center;
    padding: 4vw;
    border-left: 10px solid #F14C8F;
  }


  .about-right {
    flex: 1;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }